
<full-calendar [options]="calendarOptions">
  <ng-template #eventContent let-arg>
    <div class="flex flex-row-reverse bg-primary border-round-sm">
      <div class="flex  align-items-center justify-content-center ml-1 mr-1">
        <i *ngIf="show(arg.event)" class="pi pi-trash ml-1 mr-1 text-danger" (click)="delete()"></i>
      </div>
      <div class="flex flex-grow-1 align-items-center justify-content-center">{{ arg.event.title }}</div>
    </div>
    </ng-template>
</full-calendar>
<div class="content-section implementation">
  <div class="card">
    <p-dialog header="Leave Information" [(visible)]="displayDailog" [breakpoints]="{'960px': '75vw'}" [style]="{width: '58vw'}" [draggable]="true" [resizable]="true">
      <div class="field">
        <label for="txtStartDate" class="block padding-dev">Start Date:</label>
        <input id="txtStartDate" type="text" pInputText [(ngModel)]="startDate" placeholder="Start Date" class="padding-dev" [disabled]="txtBoxDisabled" />
        <label for="txtEndDate" class="block padding-dev">End Date:</label>
        <input id="txtEndDate" type="text" pInputText [(ngModel)]="endDate" placeholder="End Date" class="padding-dev" [disabled]="txtBoxDisabled" />
        <p-checkbox [(ngModel)]="isAllDay" [binary]="true" inputId="binary" class="padding-dev" (onChange)="allDayEvent($event)">Half Day</p-checkbox>
        <label for="binary">Half Day</label>
      </div>
      <div class="field padding-top-dev">

      </div>
      <ng-template pTemplate="footer">
        <p-button (click)="displayDailog=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="saveLeaveInfo()" label="Submit" styleClass="p-button-text" *ngIf="displaySaveButton"></p-button>
        <p-button (click)="updateLeaveInfo()" label="Update" styleClass="p-button-text" *ngIf="displayUpdateButton"></p-button>
        <p-button (click)="deleteLeaveInfo()" label="Delete" styleClass="p-button-text" *ngIf="displayDeleteButton"></p-button>
      </ng-template>
    </p-dialog>
  </div>
</div>
