 <div>
  <full-calendar [options]="calendarOptions"></full-calendar>
  <!--<full-calendar #calendar *ngIf='calendarVisible' [options]='calendarOptions'>
    <ng-template #eventContent let-arg>
      <i>{{ arg.event.title }}</i>
    </ng-template>
  </full-calendar>-->
</div>
<div class="content-section implementation">
  <div class="card">
<p-dialog header="Leave Information" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}" [style]="{width: '58vw'}" [draggable]="true" [resizable]="true">
  <div class="field">
    <label for="txtStartDate" class="block padding-dev">Start Date:</label>
    <input id="txtStartDate" type="text" pInputText [(ngModel)]="startDate" placeholder="Start Date" class="padding-dev" [disabled]="disabled" />
    <label for="txtEndDate" class="block padding-dev">End Date:</label>
    <input id="txtEndDate" type="text" pInputText [(ngModel)]="endDate" placeholder="End Date" class="padding-dev" [disabled]="disabled" />
    <p-checkbox [(ngModel)]="isAllDay" [binary]="true" inputId="binary" class="padding-dev" (onChange)="allDayEvent($event)">Half Day</p-checkbox>
    <label for="binary">Half Day</label>
  </div>
<div class="field padding-top-dev">

</div>
<ng-template pTemplate="footer">
  <p-button (click)="displayResponsive=false" label="Cancel" styleClass="p-button-text"></p-button>
  <p-button (click)="saveLeaveInfo()" label="Submit" styleClass="p-button-text" *ngIf="displaySaveButton"></p-button>
  <p-button (click)="updateLeaveInfo()" label="Update" styleClass="p-button-text" *ngIf="displayUpdateButton"></p-button>
  <p-button (click)="deleteLeaveInfo()" label="Delete" styleClass="p-button-text" *ngIf="displayDeleteButton"></p-button>
</ng-template>
     <ng-template pTemplate="footer">
      <p-button (click)="displayResponsive=false" label="Cancel" styleClass="p-button-text"></p-button>
      <p-button (click)="saveLeaveInfo()" label="Submit" styleClass="p-button-text"></p-button>
     </ng-template>
</p-dialog>
</div>
</div>
