<div class="flex flex-row flex-wrap card-container blue-container">
  <div class="flex align-items-center justify-content-center mr-1 mb-1">
    <p-dropdown [options]="projects" (onChange)="projectChanged($event)" optionLabel="name"></p-dropdown>
  </div>
  <div class="flex align-items-center justify-content-center ml-1 mb-1">
    <p-dropdown [options]="sprints" optionLabel="number" (onChange)="sprintChanged($event)"></p-dropdown>
  </div>
</div>

<div *ngIf="project">

  <div class="flex border-round-top-sm px-2 py-2">
    <div class="flex flex-grow-1 text-3xl font-bold ">
      {{project.name}} - Sprint {{project?.sprintNumber}}
      <i *ngIf="progress===100" class="pi pi-lock text-red-500" style="font-size:1.5rem"></i>
    </div>
    <div class="flex flex-grow">
      <p-button label="Close Sprint" icon="pi pi-lock" iconPos="right" styleClass="p-button-sm"></p-button>
    </div>
  </div>

  <div class="flex card-container blue-container overflow-hidden mb-1">
    <div class="flex flex-none  align-items-center justify-content-center bg-primary mr-1 px-2 border-round">{{project.startsOn|date}}</div>
    <div class="flex-grow-1 align-items-center justify-content-center ml-1 mr-1 border-round"><p-progressBar [value]="progress"></p-progressBar></div>
    <div class="flex flex-none  align-items-center justify-content-center bg-primary ml-1 mr-1 px-2 border-round">{{project.endsOn|date}}</div>
  </div>

  <p-accordion [activeIndex]="1">
    <p-accordionTab header="Plan">

      <div class="flex overflow-hidden">
        <div class="flex flex-none align-items-center  justify-content-center px-1">
          <p-dropdown appendTo="body" class="w-full" placeholder="Type" optionLabel="name" [showClear]="true">
          </p-dropdown>
        </div>

        <div class="flex flex-none align-items-center  justify-content-center px-1">
          <p-dropdown appendTo="body" class="w-full" placeholder="User" optionLabel="name" [showClear]="true">
          </p-dropdown>
        </div>
        <div class="flex-grow-1 flex align-items-center justify-content-center px-1">
          <input class="w-full" type="text" pInputText placeholder="What" />
        </div>

        <div class="flex align-items-center justify-content-center px-1" style="flex: 0 0 100px">
          <input class="w-full" type="text" pInputText placeholder="User Story/Bug" />
        </div>


        <div class="flex align-items-center justify-content-center px-1" style="flex: 0 0 50px">
          <p-inputNumber [inputStyle]="{'width':'60px','text-align':'right'}" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [min]="0" [max]="99.99" placeholder="Plan"> </p-inputNumber>
        </div>
        <!--<div class="flex flex-none align-items-center justify-content-center px-1">
    <p-inputNumber [inputStyle]="{'width':'60px','text-align':'right'}" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [min]="0" [max]="99.99" placeholder="Actual"> </p-inputNumber>
  </div>-->
        <div class="flex-none flex align-items-center justify-content-center pl-1 pr-2 py-2">
          <p-button icon="pi pi-plus"></p-button>
        </div>
      </div>

      <div class="flex flex-row flex-wrap card-container blue-container">
        <div class="flex align-items-center justify-content-center card border-round m-2">
          <p-table [value]="project.stories" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="200px">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>Story</th>
                <th>Points</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-story>
              <tr>
                <td>{{story.id}}</td>
                <td>{{story.points}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="flex align-items-center card border-round  m-2">
          <p-table [value]="project.bugs" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="200px">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>ID</th>
                <th>RCA</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bug>
              <tr>
                <td>{{bug.id}}</td>
                <td>{{bug.rca}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab *ngFor="let user of project.users">
      <ng-template pTemplate="header">
        <div class="flex-grow-1 flex align-items-center">{{user.name}}</div>
      </ng-template>
      <ng-template pTemplate="content">

        <p-tabView>
          <p-tabPanel header="Yesterday - {{user.yesterdayActivities.length}} / {{effort(user.yesterdayActivities)}}">
            <div class="flex flex-row-reverse w-full">
              <p-button label="Close Day" icon="pi pi-lock" iconPos="right" (click)="closeDay(user)"></p-button>
            </div>
            <app-activity [for]="'yesterday'" (addWork)="addTask($event, user.yesterdayActivities)"></app-activity>
            <app-activities [activities]="user.yesterdayActivities" [for]="'yesterday'"></app-activities>
          </p-tabPanel>
          <p-tabPanel header="Today - {{user.activities.length}}">
            <app-activity [for]="'today'" (addWork)="addTask($event, user.activities)"></app-activity>
            <app-activities [activities]="user.activities" [for]="'today'"></app-activities>
          </p-tabPanel>
          <p-tabPanel header="Future - {{user.futureActivities.length}}">
            <app-activity [for]="'future'" (addWork)="addTask($event, user.futureActivities)"></app-activity>
            <app-activities [activities]="user.futureActivities" [for]="'future'"></app-activities>
          </p-tabPanel>

        </p-tabView>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>
